<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <label id = "username">{{username}}</label>
    </div>
    <div>
        <label>First Name:</label>
        <label id = "firstName">{{first_name}}</label>
    </div>
    <div>
        <label>Last Name:</label>
        <label id = "lastName">{{last_name}}</label>
    </div>
    <div>
        <label>profession:</label>
        <label id = "profession">{{profession}}</label>
    </div>
    <div>
        <label>Bio:</label>
        <label id = "bio">{{bio}}</label>
    </div>
</form>